* {
	font-family: Verdana,
		sans-serif;
}

header {
	display: flex;
}

#headerLeft,
#headerRight {
	background-color: SeaGreen;
	color: white;
	line-height: 150px;
	height: 260px;
	font-size: 160%;
}

#headerLeft {
	width: 75%;
}

#headerRight {
	width: 25%;
	text-align: right;
}

main {
	background-color: mintcream;
	padding: 80px;
}

footer {
	display: flex;
	width: 100%;
}

#footerLeft,
#footerRight {
	background-color: seagreen;
	color: white;
	width: 50%;
	height: 70px;
	text-align: center;
}

#selector input {
	margin-bottom: 20px;
}

#zdjencie {
	box-shadow: 15px 15px 10px dimgray;
	margin-right: 75px;
}

#document {
	text-decoration: none;
	background-color: mintcream;
	color: seagreen;
	padding: 15px;
	line-height: 70px;
}