body {
	background-color: #F6E5DC;
	font-family: Verdana, sans-serif;
}

header {
	background-color: #2F180C;
	text-align: center;
	color: khaki;
	height: 60px;
}

#top {
	display: flex;
}

#lewy {
	width: 60%;
}

#prawy {
	font-size: 150%;
	padding: 70px;
}

#dolna {
	background-color: #D0B6A8;
	text-align: center;
	padding: 30px;
}

footer {
	background-color: #2F180C;
	color: khaki;
	height: 60px;
}

#obraz {
	height: 350px;
}

.button {
	margin: 10px;
	padding: 5px;
	background-color: #2F180C;
	color: khaki;
}