* {
	background-color: #F6E5DC;
	font-family: Verdana, sans-serif;
}

header {
	background-color: #2F180C;
	text-align: center;
	color: khaki;
	height: 60px;
}

main {
	padding: 0;
	margin: 0;
	display: flex;
}

main#lewy {
	width: 60%;
}

main#prawy {
	font-size: 150%;
	padding: 70px;
}

main#dolna {
	background-color: #D0B6A8;
	text-align: center;
	padding: 30px;
}

footer {
	background-color: #2F180C;
	color: khaki;
	height: 60px;
}

img#obraz {
	height: 350px;
}

input.button {
	margin: 10px;
	padding: 5px;
	background-color: #2F180C;
	color: khaki;
}