* {
	font-family: Cambria;
	text-align: center;
}

header,
footer {
	background-color: rgb(173, 20, 87);
	color: white;
	padding: 5px;
	font-size: 150%;
}

main {
	color: rgb(173, 20, 87);
	text-align: left;
}

#left {
	background-color: snow;
	color: olivedrab;
	width: 60%;
	height: 322px;
	text-align: left;
}

#right {
	background-color: rgb(173, 20, 87);
	width: 40%;
	height: 322px;
}

#car {
	margin: 40px;
	padding: 10px;
}

#car:hover {
	border: 1px dotted YellowGreen;
}

#odnosnik {
	padding: 0 50px 0 50px;
	color: yellowgreen;
}

table,
tr,
td {
	border: solid 1px olivedrab;
}

table {
	width: 90%;
}