* {
	font-family: Georgia;
	text-align: center;
}

header,
footer {
	background-color: #BA6B6C;
	color: white;
	padding: 7px;
}

#left,
#right {
	background-color: #EF9A9A;
	width: 20%;
	height: 500px;
}

#middle {
	background-color: MistyRose;
	width: 60%;
	height: 500px;
}

#dane {
	background-color: MistyRose;
	padding: 50px;
}

ol {
	list-style-type: upper-roman;
}