body {
    font-family: Cambria;
    text-align: center;
}

header,
footer {
    background: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
}

#menu {
    background: rgb(173, 20, 87);
    text-align: left;
}

#lewy {
    background: snow;
    color: olivedrab;
    width: 60%;
    height: 322px;
    text-align: left;
    float: left;
}

#prawy {
    background: rgb(173, 20, 87);
    width: 40%;
    height: 322px;
    float: left;
}

footer {
    clear: both;
}

#prawy img {
    margin: 40px;
    padding: 10px;
}

#prawy img:hover {
    border: 1px dotted yellowgreen;
}

a {
    padding: 0px 50px;
    color: yellowgreen;
}

table,
td {
    border: 1px solid olivedrab;
}

table {
    width: 90%;
}